


{% load static%}
{% load crispy_forms_tags %}

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>PPC</title>
    
        <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %} " rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    
        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.min.css' %} " rel="stylesheet">
    
        {% block styles %}
        {% endblock styles %}
    
    </head>
    <style>
        .cad{
            width: 50vw;
            margin: auto auto;
            
        }
        .btn-custom{
            width: 100%;
        }
    </style>
    <body>
        

        <div class="card shadow mb-4 cad">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Log In</h6>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" class="btn btn-primary btn-custom" value="Log In">
                </form>
            </div>
            <img src="{% static 'img/ppc2.png' %}" alt="" class="ppc-img">
        </div>
        
        
                  
    </body>
</html>



