{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block styles %}
    <style>
        .cad {
            width: 50vw;
            margin-left: auto;
            margin-right: auto;
        }
        .pay-btn {
            width: 100%;
        }
    </style>
{% endblock styles %}
{% block content-space %}
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Membership ID</th>
            <th>Name</th>
            <th>Membership Classificaion</th>
            <th>Mobile Number</th>
           
        </tr>
    </thead>

    <tbody>
        
            <tr>
                <td>{{member.membership_id}}</td>
                <td>{{member.first_name}} {{member.last_name}}</td>
                <td>{{member.membership_classification}}</td>
                <td>{{member.mobile_number_1}}</td>
            </tr>   

    </tbody>
</table>
<div class="card shadow mb-4 cad">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Membership Payment</h6>
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'pay_fee' member_id %}">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-primary pay-btn" value="Pay">
        </form>
    </div>
</div>

{% endblock content-space %}